{% extends "layout.html" %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
      <h1 class="display-3">Login</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "login" button_type='submit' %}
    </form>
        <a href="{% url 'user:register' %}"><button class="btn btn-primary">Register</button></a>
        <a href="{% url 'user:password_reset' %}"><button class="btn btn-primary">Forgot Password?</button></a>
{% endblock %}
</div>