{% extends 'layout.html' %}
{% load bootstrap4 %}

{% block content %}
    {% if validlink %}
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "Change Password" button_type='submit' %}
        </form>
    {% else %}
        <p>
            The password reset was invalid.  It may have been used before.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}